@page
@model OnlineLaboratory.Pages.GetMedicineViews.EditModel

@{ ViewData["Title"] = "Edit Order of Medicine"; }

<h4 class="d-flex justify-content-center">Edit Medicine</h4>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GetMedicine.id" />
            <div class="form-group">
                <label asp-for="GetMedicine.Name" class="control-label"></label>
                <input asp-for="GetMedicine.Name" class="form-control" />
                <span asp-validation-for="GetMedicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GetMedicine.Contact" class="control-label"></label>
                <input asp-for="GetMedicine.Contact" class="form-control" />
                <span asp-validation-for="GetMedicine.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GetMedicine.MeidicineName" class="control-label"></label>
                <input asp-for="GetMedicine.MeidicineName" class="form-control" />
                <span asp-validation-for="GetMedicine.MeidicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GetMedicine.Strips" class="control-label"></label>
                <input asp-for="GetMedicine.Strips" class="form-control" />
                <span asp-validation-for="GetMedicine.Strips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" type="button" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
